@import 'nav';
@import 'form_els';

$font-stack:  'Josefin Sans', sans-serif;


.fixed-position {
	position: fixed;

	width: 100% !important;
z-index: 99;}



.row, header, nav, .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}


body {
  font-family: $font-stack;
  background-color: #A1D490 !important;
  margin: 0;
}


.button-augment {
  border: 1px solid black;
  width: 100px;
  margin-top: 15px;
}

a {
  position: center;
  padding-top: 200px;
}

.movie-holder {
  background-color: rgba(150,150,150,0.7);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}