

$nav-bg-color: #8DADB8 ;
$button-on-hover: #669999;

nav {
  width: 100%;
  height: 10%;
  min-height: 250px;
}

.augment-nav {
    background-color: $nav-bg-color !important;

    button {
      position: center;
      font-size: 1.25em; 
      margin-bottom: 15px;
    }

    button:hover {
      font-weight: 700;
      text-shadow: 1px 1px 1px $button-on-hover;
      background-color: white;
     }
} 


// ? how make the search button stack at a threshold
// ? how to make the nav bar statis AND go all the way across the page?