

<div class='songToAdd'>
  {{#each songs}}
  <div>
    <h2 class = "song-title">{{title}} </h2>
      <p class = 'song-details'> {{artist}} |  {{album}}  |  {{year}}
      </p> 

  </div>
  {{/each}}
</div>
   